*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: darkslategrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-container {
    padding: 10px;
    position: relative;
    top: 74px;
    left: 50px;
}
.card{
    width:20%;
    background-color: coral;
    float: left;
   margin: 5px;
   height: 102px;
   position: relative;
   top:30px;
   transition: 0.2s;
   transition-delay: 0.2s;/*shobar age out hobe aita*/
}

.card-img {
    width: 58%;
    position: relative;
    top: -56px;
    left: 21%;
}
.card-img img{
    width:100%;
    height: auto;
   
    
}
.card-des{
    text-align: center;
    visibility: hidden;
    transition: 0.2s;
    transition-delay: 0s;/*erpor out hobe aita*/
}
.card:hover{
    height: 300px;
    top:0;
}
.card:hover .card-des{
    visibility: visible;
    transition-delay: 0.5s;
}